.input {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    padding: 10px 12px;
    width: 50%;
    background-color: #ffffff;
  
    /* font styling  */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #7a7a7a;
  }
  
  input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #cbd5e1;
  }
  
  .input:hover {
    border: 1px solid #94a3b8;
  }
  
  .input:focus {
    border: 1px solid #2ca144;
    outline: none; /* removes default blue color from input box   */
  }
  
  .primary {
    border: 1px solid green;
  }
  .secondary {
    border: 1px solid yellow;
  }
  .input-error {
    border: 1px solid red;
  }
  