@import "../../styles/colors.scss";

.input {
  border: 1px solid $color-e5e5e5;
  border-radius: 8px;
  padding: 10px 12px;
  width: 50%;
  background-color: $color-ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-7a7a7a;

  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $color-cbd5e1;
  }

  &:hover {
    border: 1px solid $color-94a3b8;
  }

  &:focus {
    border: 1px solid $color-2ca144;
    outline: none; /* removes default blue color from input box */
  }

  // &.primary {
  //   border: 1px solid green;
  // }

  &.input-error {
    border: 1px solid $color-ff5724;
  }

  &[disabled] {
    border: 1px solid $color-e5e5e5;
    cursor: not-allowed;
  }

  &[readonly] {
    border: 1px solid $color-e5e5e5;
  }
}
