$color-57bc68: #57bc68;
$color-2ca144: #2ca144;
$color-474747: #474747;
$color-7a7a7a: #7a7a7a;
$color-ffffff: #ffffff;
$color-e5e5e5: #e5e5e5;
$color-7a7a7a: #7a7a7a;
$color-cbd5e1: #cbd5e1;
$color-94a3b8: #94a3b8;
$color-ff5724: #ff5724;
