$color-primary: #4667E5;
$color-primary-hover: #0810BA;
$color-secondary: #FFFFFF;
$color-secondary-hover: #DDE6ED;
$color-tertiary: #57BC68;
$color-danger: #DC3545;
$color-danger-hover: #C10000;
$color-main-background: #F8FAFC;
$color-card-background: #FFFFFF;
$box-shadow-sm: 0px 4px 5px rgba(0, 0, 0, 0.07);